<div class="container">
  <div class="container bg-dark text-light rounded p-3 mb-1" style="width: 67%;">
    <h1 class="text-center">Add New Game</h1>
  </div>
</div>
<div class="container my-S align-middle">
    <div class="p-2">
      <div class="row">
        <div class="col-8 p-5 container bg-dark text-light rounded">
            <form #form="ngForm" (ngSubmit)="addGame()">
                <div class="mb-3">
                  <label for="title" class="form-label">Title</label>
                  <input type="text" class="form-control" id="title" 
                  name="title" [(ngModel)]="addGameRequest.title">
                </div>
                <div class="mb-3">
                  <label for="desc" class="form-label">Description</label>
                  <input type="text" class="form-control" id="desc"
                  name="description" [(ngModel)]="addGameRequest.description">
                </div>
                <div class="mb-3">
                  <label for="genre" class="form-label">Genres</label>
                  <input type="text" class="form-control" id="genre"
                  name="genre" [(ngModel)]="addGameRequest.genres">
                </div>
                <div class="mb-3">
                  <label for="platform" class="form-label">Platforms</label>
                  <input type="text" class="form-control" id="platforms"
                  name="platforms" [(ngModel)]="addGameRequest.platforms">
                </div>
                <div class="mb-3">
                  <label for="devs" class="form-label">Developers</label>
                  <input type="text" class="form-control" id="developers"
                  name="developers" [(ngModel)]="addGameRequest.developers">
                </div>
                <div class="mb-3">
                  <label for="publisher" class="form-label">Publisher</label>
                  <input type="text" class="form-control" id="publisher"
                  name="publisher" [(ngModel)]="addGameRequest.publisher">
                </div>
                <div class="mb-3">
                  <label for="cost" class="form-label">Cost</label>
                  <input type="number" class="form-control" id="cost"
                  name="cost" [(ngModel)]="addGameRequest.cost">
                </div>
                <div class="container d-flex justify-content-center mb-3">
                  <button type="submit" class="btn btn-primary btn-lg">Save</button>
                </div>
              </form>
        </div>
    </div>
    </div>
</div>