<div class="container bg-dark text-light rounded">
    <h1 class="p-3">Games</h1>
</div>
<div class="container my-S bg-dark text-light rounded">
    <div class="container p-5 mb-5">
        <table class="table table-dark table-striped-columns" *ngIf="games && games.length > 0">
            <thead class="text-center">
                <th>Title</th>
                <th>Description</th>
                <th>Genre(s)</th>
                <th>Platform(s)</th>
                <th>Developer(s)</th>
                <th>Publisher</th>
                <th>Cost</th>
                <th> </th>
            </thead>
            <tbody>
                <tr *ngFor="let game of games">
                    <td>{{game.title}}</td>
                    <td>{{game.description}}</td>
                    <td>{{game.genres}}</td>
                    <td>{{game.platforms}}</td>
                    <td>{{game.developers}}</td>
                    <td>{{game.publisher}}</td>
                    <td>{{game.cost}}</td>
                    <td><a class="btn btn-primary" [routerLink]="['/Games','edit', game.id]">View</a></td>
                </tr>
            </tbody>
        </table>
        <p *ngIf="!games || games.length <= 0">No games found</p>
    </div>
</div>