<div class="container">
  <div class="container my-S align-middle">
      <div class="p-2">
        <div class="row">
            <div class="col-8 p-5 container bg-dark text-light rounded d-flex">
                <div id="card-container" class="container d-flex mt-5"  style="padding-bottom: 25%;">
                    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 d-flex mx-auto">
                        <div id="card" class="card border-light text-white text-center mb-4" style="width: 18rem;">
                            <div class="card-body ">
                                <h4 id="link" routerLink="Games" class="position-absolute top-50 start-50 translate-middle">SEE GAME LIST</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 d-flex mx-auto">
                        <div id="card" class="card text-white text-center mb-4 border-light">
                            <div class="card-body">
                                <h4 id="link" class="card-title"routerLink="Games/add">ADD NEW GAME</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  </div>