<nav id="nav" class="navbar navbar-expand-lg bg-dark border-bottom border-bottom-dark" data-bs-theme="dark">
    <div class="container text-light">
      <a class="navbar-brand text-light" href="#">Game Library</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-light" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item text-light">
            <a class="nav-link active text-light" aria-current="page" routerLink="Games">Game List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-light" aria-current="page" routerLink="Games/add">Add New Game</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<div id="background" class="p-5">
<router-outlet></router-outlet>
</div>
